Django==1.2
MySQL-python==1.2.3c1
PyGreSQL==4.0
argparse==1.2.1
boto==1.9b
demjson==1.6
django-debug-toolbar==0.8.3
django-haystack==1.1.0-alpha
-e git://github.com/sunlightlabs/django-mediasync.git@54cefa361bf604154a5a1e34f58a852177f30fca#egg=django_mediasync-1.0.1-py2.6-dev
ipython==0.10
numpy==1.4.1
plac==0.9.0
pysolr==2.0.12
python-memcached==1.45
stream==0.8
wsgiref==0.1.2
