.sf-footerWrapper { background-color: #fafaf7; border-top: 1px solid #ece9e9; margin-top: 70px; padding-top: 50px; min-height: 220px;}
.sf-footer { color: #9f9a97;}
.sf-footer h4 { font-size: 170%; color: #9f9a97; margin-bottom: 0.5em; line-height: 27px; text-transform: normal; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: normal; }
.sf-footer .tip { color: #9f9a97;}

.sf-footer .span-divider {
    border-right: 1px dashed #e8e6de;
    margin-right: -1px;
    padding-left: 0;
}

.hero-unit { padding: 40px; border: 1px solid #d6d3d3; border-radius: 0;}
.withBorder { border: 1px solid #F0EDED; }

.sf-footer .tip { margin-bottom: 20px; display: block;  }

.terms { margin-top: 30px; }

.sf-footer div.terms p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 95%;
    font-style: oblique;
    line-height: 18px;
}

#sfapp-subscribe-form li { float: left; margin-right: 10px; }
#sfapp-subscribe-form input[name=email] { width: 140px; }
#sfapp-subscribe-form input[name=zipcode] { width: 95px; }
#sfapp-subscribe-form input { border: 2px solid #E7E4DC; height: 18px; padding: 4px;margin-bottom: 9px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}

.span6 { width: 460px; float: left; padding-left: 20px;  }

.btn, .btn:link, .btn:active, .btn:visited {
    color: #333;
    border: 3px solid #e9e8e3;
    font-family: "Georgia", "Times New Roman", "Times", serif;
    font-style: normal;
    font-weight: normal;
    padding: 4px 15px 4px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
        -ms-border-radius: 6px;
         -o-border-radius: 6px;
            border-radius: 6px;
    text-indent: 0;
    color: #fff;
}
