.sf-header {
    background: url(../images/sfapp_bg_header.jpg) center top repeat-x;
    background-color: #b7d2ef;
    margin-bottom: 50px;
    height: 55px;
}
.sf-header a.sf-logo {
    background: url(../images/sfapp_logo.png) top right no-repeat;
    display: block;
    float: right;
    height: 40px;
    text-indent: -9999px;
    width: 128px;
    margin-top: 10px;
}