{% extends "scorecard_base.html" %}
{% load humanize %}
{% load media %}

{% block header %}
    <h3>{{agency_name}}</h3>
    {% js "jquery.tablesorter.min.js" %}
{% endblock %}

{% block scorecard %}

<div id="description">
    <img id="graph" alt="agency trends" src="{% media_url %}/images/charts/agency_chart_{{agency}}.png" />
    <ul class="legend">
    <li><span style="background-color: #e9dd53;"></span> Over Reported (grants)</li>
    <li><span style="background-color: #EE9F2E;"></span> Under Reported (grants)</li>
    <li><span style="background-color: #DF5D26;"></span> Non Reported (grants)</li>
    <li><span style="background-color: #991C1F;"></span> Over Reported (loans)</li>
    <li><span style="background-color: #79BBD3;"></span> Under Reported (loans)</li>
    <li><span style="background-color: #438B9E;"></span> Non Reported (loans)</li>
    <li><span style="background-color: #636566;"></span> Late</li>
    <li><span style="background-color: #2B2826;"></span> Incomplete</li>

    </ul>
    <div class="clear"></div>
</div>
<ul id="bignumbers">
    {% for num in summary_numbers %}
        <li>${{num|floatformat|intcomma}}<span class="bignumberstext">{% cycle 'Under Reported' 'Over Reported' 'Not Reported' 'Late' 'Incomplete' %}</span></li>
    {% endfor %}
</ul>
<div class="clear"></div>
<div id="programtablecontainer">
    <table class="programtable" id="programtable">
    <thead>
        <tr id="titles">
            <th class="sort">Program Number</th>
            <th class="sort">Program Name</th>
            <th class="sort">Overreported</th>
            <th class="sort">Underreported</th>
            <th class="sort">Not reported</th>
            <th class="sort">Late</th>
            <th class="sort last-cell">Incomplete</th>
        </tr>   
    </thead>
    <tbody>
    {% autoescape off %}
    {% for row in table_data %}
        <tr class="{% cycle 'odd' 'even' %}">
            <td>{{row.0}}</td>
            <td class="title"><a class="name" href="{% url program_detail row.1 unit %}" alt="{{row.2}}">{{row.2}}</a></td>
            <td class="{{row.4}}">
                {% if row.3%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.3|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %} {% else %}-{% endif %}
            </td>
            <td class="{{row.6}}">
                {% if row.5%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.5|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
            </td>
            <td class="{{row.8}}">
                {% if row.7%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.7|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
            </td>
            <td class="{{row.10}}">
                {% if row.9%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.9|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
            </td>
            <td class="last-cell {{row.12}}">
                {% if row.11%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.11|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
            </td>
            
        </tr>
        
    {% endfor %}
    {% endautoescape%}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            $("#programtable").tablesorter({
                headers: {
                            1: { sorter:'currency'},
                            2: { sorter:'currency'},
                            3: { sorter:'currency'},
                            4: { sorter:'currency'},
                            5: { sorter:'currency'}
                        }
            });
            $("#programtable").bind("sortEnd", function() {
                $("#programtable tr:even").removeClass().addClass("even")
                $("#programtable tr:odd").removeClass().addClass("odd");
            });
            $("#dollars_radio").change(function(){
                $(document)[0].location = $(document)[0].location.href.replace('\/pct\/', '\/dollars\/');
            }); 
            $("#pct_radio").change(function(){
                $(document)[0].location = $(document)[0].location.href.replace('/dollars/', '/pct/');
            }); 
        });

    </script>
{% endblock %}
