{% extends "base.html" %}

{% block content %}
<h3>Analysis</h3>
<p>
Before USASpending.gov was created, no comprehensive database of federal spending
existed inside or outside of the federal government. It can be argued that the government
was not accountable for the money it spent because the process was not at all transparent.
Compiling government spending information is not only important for curbing fraud and abuse,
but it allows state and municipal officials, as well as the public, to see where and to whom
federal direct spending is going and how it affects their lives and communities. This allows for
better coordination between states and the federal government and also informs citizens of the
scope of federal spending, allowing them to participate in shaping federal spending policies.
Congress determined that the public needed access to accurate, timely and detailed information
on public spending. These reasons and more were the foundation for the Federal Financial
Accountability and Transparency Act (FFATA), passed by congress in 2006. USASpending.gov
was created to satisfy this requirement. However, while USASpending.gov has been
implemented, the information in it is far from timely and complete, making it ineffective.
</p>
<p>
When programs obligate funds, they generally report those funds in two ways. One way is reporting to their internal tracking system. Another is to report those same numbers to either the Federal Assistance Award Data System (FAADS) or the Federal Procurement Data
System (FPDS), which directly supply USASpending.gov with its data. However, the internal reporting
methods used by grant programs seem to be completely divorced from the FAADS and FPDS
submission process. Having two separate reporting systems is likely to result in multiple rounds
of data entry. The process is burdensome on agencies’ staff and it raises the incidence of
error. Because the FAADS data format is rigid and outdated, it is not easily integrated into
most internal bookkeeping systems. As a result, federal reporting is often an afterthought. The
solution to these problems is not immediately apparent. A first step would be to identify what
works for some grant programs and what is failing for others. Clearspending’s intention is to
identify the problem areas and empower citizens to explore solutions.
</p>
<p>
Clearspending’s analysis consists of three metrics: consistency, completeness and timeliness.
The consistency metric is a comparison of obligations reported in USASpending.gov with
obligations reported in the Catalog of Federal Domestic Assistance (CFDA). Timeliness is a measure of how quickly those metrics are
reported. Completeness is a measurement of how many required fields were completed for
each record reported to USASpending.gov. Clearspending’s scorecard allows users to view
these metrics on an agency level and on a program level. For more information on the metrics
please see our <a href="{% url methodology %}">methodology</a>.
</p>
<p>
While Clearspending’s scorecard allows for a detailed view of each metric for each agency
and program, here we present some aggregate figures that illustrate trends over the entire
USASpending.gov dataset for the years 2007-2009. In the past three years there has been
an increase in the number of programs reporting to USASpending.gov. However, the quality
of the data being reported is sacrificed due to an abundance of errors. There are
also issues with timeliness and incomplete nature of the data being reported. Of the $2.9
trillion the government spent on grants and loans in 2009, $1.8 trillion was misreported in
USASpending.gov. That means that about 64% of the total direct spending<sup>1</sup> was incorrectly
accounted for on USASpending.gov. With the significant portion of the data being unreliable,
USASpending.gov is not usable for any kind of analysis, either by a citizen, media outlet or
research institution.
</p>
<h4>Timeliness</h4>
<p><span class="float-right">
Obligations Reported Late<br /> by fiscal year
<table>
<tr><th>fy</th><th>% of late obligations</th></tr>
<tr><td>2007</td><td>99.9%</td></tr>
<tr><td>2008</td><td>66.7%</td></tr>
<tr><td>2009</td><td>66.5%</td></tr>
</table>
</span>

The FFATA requires that all federal spending be reported within 30 days of their obligation. In
our timeliness analysis, we found that for all three years at least 60% of the total obligations we
measured were reported more than 45 days after the obligation. In 2007, 99.96% of all funding
we measured for timeliness was reported late<sup>2</sup>.
Between 2007 and 2009, the average delay between obligation and reporting has increased
from 42 to 55 days. The agencies with the worst record for being on time are the Department of
Health and Human Services and the Department of Education. These agencies reported 97.2%
and 99.8% of their funds late in 2009, respectively.
</p>
<h4>Consistency</h4>
<p>
A report by the Government Accountability Office (GAO) assessing USASpending.gov reported
that 15 grant programs did not report any funding to USASpending.gov in 2008. Our analysis
found that a considerably greater number of grant programs--325--did not report any funds to
USASpending.gov for that year. The total amount of the (non-reported) funds was $583 billion,
or 22 percent, of the total grant spending for 2008. For loans, the total not reported was $772
billion out of $872 billion in outstanding loans.
</p>
<p>
In addition to funds not being reported, we have encountered many instances where reporting
contains significant errors. In the case of the CFDA program for State Fire Training Systems
Grants (97.043), a grant for $5.8 million was obligated and then later returned to a <em>different</em>
CFDA program. The wrong CFDA number was entered in either the obligation or the return
transaction. Furthermore, the project description for this grant is so terse it is impossible for the user to determine which CFDA program is the correct one.
</p>
<p>
Another example of a reporting error is the total value of all federal student loans for 2009. The
Federal Direct Student Loan CFDA program (84.268) reports over $5 trillion in loans. This is
more than the entire federal budget. There seem to be no data quality checks built in to the
data entry system to flag or warn users that their entries far exceed a program’s or an agency’s
budget.
</p>
<p>
The above instance of overreporting is not an isolated one. Over the past three years the total
overreported grant obligations (excluding the loan programs) has stayed somewhat steady, wavering from $75 billion in 2007 to $68 billion in 2009. Underreporting has significantly
increased. In 2009, $161 billion in grant obligations was underreported. This was up from $125
billion in 2007.
</p>
<p>

<span class="float-left">
Consistently Reporting Programs
<table>
<tr><th>fy</th><th># of programs (% of all programs)</th><th>% of all grants</th></tr>
<tr><td>2007</td><td>446 (33%)</td><td>53%</td></tr>
<tr><td>2008</td><td>506 (35%)</td><td>43%</td></tr>
<tr><td>2009</td><td>487 (35%)</td><td>18%</td></tr>
</table>
</span>
Despite the pervasiveness of reporting errors, a significant number of programs report
consistent obligations to both the CFDA and USASpending.gov. In fact, over the past three
years this number has increased. Even though the number of programs reporting consistently has increased, the overall share
of obligations reported consistently has decreased. This indicates that an almost static number
of programs are reporting consistently despite a marked increase in grant funding. The sudden
drop in the percentage of total grants reporting consistently in 2009 is probably the result of
Recovery Act funding to programs that did not report consistently. However, in all three years
at least one-third of the programs were reporting obligations consistently. Our goal, and what
should be the goal of the federal government, is to take the consistently reporting programs out
of the minority by getting more agencies to report accurate and consistent numbers. The small percentage of programs
doing this already proves that it can be done.
</p>
<h4>Completeness</h4>
<p>
Tracking where the money goes is just as important as tracking how much was spent. The
FFATA requires that data regarding the recipient, location, agency and CFDA program of each
obligation be reported. However, these fields also have data quality problems. For each year
between 2007 and 2009, at least one-third of all CFDA programs were incompletely reported.
The dollar amount of obligations affected by incomplete data entry is actually increasing rapidly.
In 2007, $941 billion in obligations were incompletely reported. In 2009, this number had
increased to $1.68 trillion. That’s a 30 percent increase of all direct grants that have some sort
of missing or incomplete data.
</p>
<p>
In addition to incomplete and poorly formatted fields, there is another class of error that we
have no way of programmatically measuring. Many of the descriptive fields, such as those that
describe the purpose of the grant, appear to be a random mix of letters and numbers. Because
we have no way of quantifying these descriptive errors, the above percentages may represent
the lower bound of completion errors in USASpending.gov. Because of this, it is possible that
the actual error rate is substantially higher.
</p>
<p>
BecauseUSASpending.gov is based on datasets that are widely accepted as flawed or
incomplete, the data on the site can only be as good or worse as FAADS or FPDS – the
underlying reporting systems. The critical issue for correcting USASpending.gov is fixing
the way the agencies report program spending to the base reporting systems. One step in
correcting this would be to institute meaningful oversight. According to a GAO report<sup>3</sup>, the
Office of Management and Budget (OMB) has no process for tracking down programs that do not report at all. The data in Clearspending makes it possible for anyone to find both nonreporting programs and those programs with an excellent reporting record. Highlighting
programs and agencies on both ends of the spectrum is the first step to identifying best
practices and pitfalls of federal spending reporting.
</p>












{% endblock %}
