{% extends "base.html" %}
{% block title %} <title>Clearspending.org - Results</title> {% endblock %}
{% block bodyclass %}analysis{% endblock %}
{% block content %}
<div id="pageMain">
    <div id="ltColumn">
        <h3>Results</h3>
        <p>Clearspending’s analysis consists of three metrics: consistency, completeness and timeliness. The consistency metric compares obligations reported in USASpending.gov with obligations reported in the Catalog of Federal Domestic Assistance (CFDA). Timeliness is a measure of how quickly those metrics are reported. Completeness is a measurement of how many required fields were completed for each record reported to USASpending.gov. Together, these metrics speak to whether the information reported by agencies is correct and whether the reporting is occurring in compliance with Office of Management and Budget policy and U.S. law.</p>
        <p>Clearspending’s scorecard allows users to view these metrics on an agency level and on a program level. For more information on how these metrics were calculated, please see our <a href="{% url methodology %}">methodology.</a></p>
        <p>Although our analysis provides a detailed view of each metric for every agency and program, here we present some aggregate figures that illustrate trends over the entire USASpending.gov dataset for the years 2007-2009.</p>
        <p>In the past three years there has been an increase in the number of programs reporting to USASpending.gov. However, the reported data suffers from an abundance of errors. There are also serious problems with the data’s timeliness and completeness. Of the $1.9 trillion the government spent on grants in 2009, $1.3 trillion – 70% -- was incorrectly accounted for on USASpending.gov.</p>
        <p>As long as such a large portion of its data remains unreliable, USASpending.gov is not usable as a single source for any kind of analysis, whether by a citizen, media outlet or research institution.</p>
        <h4>Timeliness</h4>
        <div class="graphic graphicRight" >
            <h5>Obligations Reported Late by fiscal year</h5>
            <table style="width: 230px">
                <tr><th>fy</th><th>% of late obligations</th></tr>
                <tr><td>2007</td><td>99.9%</td></tr>
                <tr><td>2008</td><td>66.7%</td></tr>
                <tr><td>2009</td><td>66.5%</td></tr>
            </table>
        </div>
        <p>The Federal Funding Accountability and Transparency Act (FFATA) requires that all federal spending be reported within 30 days of its obligation. In all three years we examined, at least 60% of the recorded obligations reported through the USASpending data submission system were more than 45 days after the obligation was made. In 2007, 99.96% of all funding we measured for timeliness was reported late. Between 2007 and 2009, the average delay between obligation and reporting has increased from 42 to 55 days. The agencies with the worst record of being on time are the Department of Health and Human Services and the Department of Education. These agencies reported 97.2% and 99.8% of their funds late in 2009, respectively. As stated in our <a href="{% url methodology %}">methodology</a>, timeliness was not measured for all of the records in USASpending.gov. It was only measured for those records that appear in the raw agency submission files appearing on USASpending.gov. </p>
        <h4>Consistency</h4>
        <p>A report by the Government Accountability Office (GAO) assessing USASpending.gov reported that 15 grant programs did not report any funding to USASpending.gov in 2008. Our analysis shows that this is a considerable underestimate.  In fact, 325 programs did not report any spending to USASpending.gov for that year. The total amount of the (non-reported) spending was $583 billion, or 22%, of the total grant spending for 2008. For loans, the total not reported was $772 billion out of $872 billion in outstanding loans.</p>
        <p>In addition to unreported spending, there are many instances where program reporting contains significant errors. In the case of the CFDA program for State Fire Training Systems Grants (97.043), a grant for $5.8 million was obligated and then later returned to a different CFDA program. The wrong CFDA number was entered in either the obligation or the return transaction. Furthermore, the project description associated with this grant is so terse that it is impossible for a user to determine which CFDA program is the correct one.</p>
        <p>Another example of a reporting error is the total value of all federal student loans for 2009. The Federal Direct Student Loan program (84.268) reports over $5 trillion in loans. This is more than the entire federal budget. There seem to be no data quality checks built in to the data entry system to flag or warn users that their entries far exceed a program’s or an agency’s budget.</p>
        <p>The above instance of overreporting is not an isolated one. Over the past three years the total overreported grant obligations (excluding loan programs) has stayed somewhat steady, wavering from $75 billion in 2007 to $68 billion in 2009. Underreporting has significantly increased. In 2009, $161 billion in grant obligations was underreported -- up from $125 billion in 2007.</p>
        <div class="graphic graphicLeft">
            <h5>Consistently Reporting Programs</h5>
            <table>
                <tr><th>fy</th><th># of programs (% of all programs)</th><th>% of all grants</th></tr>
                <tr><td>2007</td><td>446 (33%)</td><td>53%</td></tr>
                <tr><td>2008</td><td>506 (35%)</td><td>43%</td></tr>
                <tr><td>2009</td><td>487 (35%)</td><td>18%</td></tr>
            </table>
        </div>
        <p>Despite the pervasiveness of reporting errors, a significant number of programs report obligations figures to both the CFDA and USASpending.gov that are consistent with one another. In fact, over the past three years the number of such programs has increased. Even though the number of programs reporting consistently has increased, the overall share of obligations reported consistently has decreased. This indicates that an almost static number of programs are reporting consistently despite a marked increase in grant funding. The sudden drop in the percentage of total grants reporting consistently in 2009 is probably the result of Recovery Act funding to programs that do not report consistently.</p>
        <p>However, in all three years examined at least one-third of all programs reported obligations consistently. Our goal, and what should be the goal of the federal government, is to take the consistently reporting programs out of the minority by getting more agencies to report accurate and consistent numbers. The small percentage of programs doing this already proves that it can be done.</p>
        <h4>Completeness</h4>
        <p>Tracking where the money goes is just as important as tracking how much was spent. The FFATA requires that data regarding the recipient, location, agency and CFDA program of each obligation be reported. However, these fields suffer from serious data quality problems. For each year between 2007 and 2009, at least one-third of all CFDA programs were incompletely reported. The dollar amount of obligations affected by incomplete data entry is increasing rapidly. In 2007, $941 billion in obligations were incompletely reported. In 2009, this number had increased to $1.68 trillion – a 30% increase.</p>
        <p>In addition to incomplete and poorly formatted fields, there is another class of error that we have no way of programmatically measuring. Many of the descriptive fields, such as those that describe the purpose of the grant, appear to be a random mix of letters and numbers. Because we have no way of quantifying these descriptive errors, the above percentages represent the lower bound of completion errors in USASpending.gov. It is possible that the actual error rate is substantially higher.</p>
        <p>Because USASpending.gov is based on datasets that are widely accepted as flawed or incomplete, the data on the site can only be as good as the data in the Federal Assistance Award Data System (FAADS) or the Federal Procurement Data System (FPDS) – the underlying reporting systems. USASpending.gov must fix the way agencies report program spending to these systems. One path to improvement would be to institute meaningful oversight. According to a GAO report, the Office of Management and Budget (OMB) has no process for tracking down programs that do not report at all. The data in Clearspending makes it possible for anyone to find both nonreporting programs and those programs with an excellent reporting record. Highlighting programs and agencies on both ends of the spectrum is the first step to identifying best practices and pitfalls of federal spending reporting.</p>
    </div>
    <div id="rtColumn">
        <div id="reporting">
            <h3>How does the federal government report its spending?</h3>
            <p>The flow of federal spending reporting can get complicated. We've tried to simplify it for you with a <a href="{% url animation %}">step-by-step visualization</a>.</p> 
        </div>
        <div id="metrics">
            <h3>Our Metrics</h3>
            <p class="no-border">How did we conduct our analysis and what assumptions did we make? What limitations exist with the comparison data we're using? We measured the data across three categories:</p>
            <ul>
                <li><strong>Consistency</strong>: A comparison of CFDA obligations and USASpending.gov obligations.</li>
                <li><strong>Completeness</strong>: A measure of how many required fields are completed. </li>
                <li><strong>Timeliness</strong>: A measure of how quickly obligations were reported.</li>
            </ul>
           <p class="no-border">See our <a href="{% url methodology %}">methodology</a> for more information.</p>
        </div>
    </div> 
    <div class="clear"></div>   
</div>

{% endblock %}
