<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/clearspending.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/header.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/footer.css">

    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery-ui-1.8.4.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/clearspending.js"></script>
    <!-- added by timball  Tue Sep  7 15:12:38 UTC 2010 -->
   <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1265484-22']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

    </script>

    
    	<meta charset="utf-8" />
        <meta name="description" content="Clearspending compares the federal spending reporting found in USASpending.gov with alternate reporting sources to create a scorecard that shows how effective each agency and program are in three metrics: consistency, timeliness and completeness.">
        <meta name="keywords" content="federal spending, federal spending reporting, financial transparency, clearspending, clear spending, financial, transparency, open government">
    	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <!--[if IE]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/footer.css"><![endif]-->
    	<style>
    		article, aside, details, figcaption, figure, footer, header,
    		hgroup, menu, nav, section { display: block; }
    	</style>
    {% block title %}<title>Clearspending.org</title>{% endblock %}
</head>

<body class="{% block bodyclass %}home{% endblock %}">
    <div class="sf-header">
		<div class="container">
            {% block header %}
            <a class="sf-logo" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
            {% endblock header %}
        </div>
	</div>
   <!-- ends top container -->
<div id="contentWrapper">
    <div id="header">
        <h2><a href="{% url clearspending-index %}"><big>Clearspending</big><small>Making Sense of the Federal Checkbook</small></a></h2>
        <div id="updated">Updated for 2011!</div>
    </div>
    <div id="mainContainer">
        <div id="nav">
            <ul>
                <li id="about">
                    <ul class="sub-nav">
                    <li id="methodology"><a href="{% url methodology %}">Methodology</a></li>
                    <li id="background"><a href="{% url background %}">Background</a></li>
                    <li id="feedback"><a href="{% url feedback %}">Feedback</a></li>
                    </ul>
                </li>
                <li id="scorecard"><a href="{% url scorecard-index %}">Scorecard</a></li>
                <li id="analysis"><a href="{% url analysis %}">Results</a></li>
                <li>More Resources 
                    <ul class="sub-nav">
                        <li id="resources"><a href="{% url resources %}">Background Resources</a></li>
                        <li id="media"><a href="{% url media-index %}">Media</a></li>
                    </ul>
                </li>
            </ul>
        </div>

            {% block content %}
            {% endblock content %}
    </div>
<footer id="mainFooter"> 
                <div id="footerContent"> 
                        <div id="contact"> 
                            <h2>Contact Us</h2> 
                            <address class="vcard"> 
                                <span class="fn org"> 
                                    <a href="http://sunlightfoundation.com" class="url">Sunlight Foundation</a> 
                                </span> 
                                <span class="adr"> 
                                    <span class="street-address">1818 N Street NW</span> 
                                    <span class="extended-address">Suite 300</span> 
                                    <span class="locality">Washington</span>,
                                    <span class="region" title="District of Columbia">DC</span> 
                                    <span class="postal-code">20036</span> 
                                </span> 
                            <span class="tel">202-742-1520</span> 
                                <a href="callto:+12027421520" class="tel-skype">Call with Skype</a> 
                            </address> 
                    </div> 
                    <div id="aboutSunlight"> 
                            <h2>About Sunlight</h2> 
                            <ul> 
                                <li><a href="/about/">Our Mission</a></li> 
                                <li><a href="/about/board/">Board &amp; Advisory Board</a></li> 
                                <li><a href="/about/funding/">How We're Funded</a></li> 
                                <li><a href="/people/">Our Team</a> and <a href="/jobs/">Jobs</a></li> 
                            </ul> 
                        </div> 
                        <div id="privacyPolicy"> 
                                <p>Our <a href="/legal/privacy/">privacy policy</a> details how personally identifiable information that is collected on our web sites is handled. Read our <a href="/legal/terms/">terms of service</a>.</p> 
                            <p>This work by <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, unless <a href="/colophon/">otherwise noted</a>, is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.</p> 
                        </div> 
                        <div class="clear"></div> 
                </div> 
            </footer>
</div>
</body></html>
