<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><head>

{% load media %}
{% css "screen.css" %}
{% css "sf_frame.css" %}
{% css "clearspending.css" %}
{% css "jquery-ui.css" %}
{% js "jquery-1.4.2.min.js" %}

</head>

<body>
	
<div class="container">
        <div class="column span-7">
            <a href="/"><h1 class="technique-three-sm">Sunlight Foundation</h1></a>         
        </div>
        <div class="column span-17 last">
                    <div id="headerSearchbox">

                            <ul id="searchContainer">
                                <form action="/search/" method="GET" name="search">
                            <li class="searchContainer">
                                <div>
                                    <input type="text" id="searchField" name="q"/>
                                    <img src="http://assets.sunlightfoundation.com/site/3.1/images/magnifier.png" alt="Search" onclick="document['search'].submit(); return false" />
                                </div>
                            </li>
                            </form>

                            </ul>
                    </div>
        </div>
</div>  


<div id="greenbar">
    <div class="container">
        <div class="column span-24">
            <div id="mailing_list_box">
                <div id="mailinglist-form">
                    <span class="list_prompt">You should join the transparency movement</span>
                    <form action="/mailinglist/subscribe/" method="post" id="mailinglist-form">
                    <label for="email" class="email">Email</label>
                    <input type="text" size="10" name="email" id="email" class="email" />
                    <label for="zipcode" class="zip">Zip</label>
                    <input type="text" size="5" name="zipcode" class="zipcode" id="zipcode"/>

                    <input type="submit" value="" class="join_button" /> 
                    </form>
                    <div class="join_social_bar">
                        <ul id="social_list_horizontal">
                            <li><a class="social_6" href="http://www.sunlightfoundation.com/feeds/latest/"></a></li>
                            <li><a class="social_1" href="http://www.facebook.com/inbox/?ref=mb#/pages/Washington-DC/Sunlight-Foundation/6921874941"></a></li>          
                            <li><a class="social_2" href="http://twitter.com/sunlightnetwork"></a></li>
                            <li><a class="social_3" href="http://www.youtube.com/sunlightfoundation"></a></li>

                        </ul>


                    </div>
                </div>          
                <div id="mailinglist-form-error"></div>
                <div id="mailinglist-form-thanks"></div>
            </div>  
        </div>
    </div>
</div>
    <!-- ends top container -->
<div id="pageBackground">
    <div id="header">
        <h2><a href="{% url clearspending-index %}"><big>Clearspending</big><small>Making Sense of the Federal Checkbook</small></a></h2>
    </div>
    <div id="mainContainer"> 
        <div id="nav">
            <ul>
                <li id="scorecard"><a href="{% url scorecard-index %}">Scorecard</a></li>
                <li id="background"><a href="{% url background %}">Background</a></li>
                <li id="analysis"><a href="{% url analysis %}">Results</a></li>
                <li id="methodology"><a href="{% url methodology %}">Methodology</a></li>
                <li id="media"><a href="{% url media-index %}">Media</a></li>
                <li id="corrections"><a href="{% url corrections %}">Corrections</a></li>
                <li id="resources"><a href="{% url resources %}">Resources</a></li>
                <li id="feedback"><a href="{% url feedback %}">Feedback</a></li>
            </ul>
        </div>

            {% block content %}
            {% endblock content %}
    </div>
</div>
</body></html>
