{% extends "base.html" %}
{% load media %}
{% load humanize %}
{% block title %} <title>Clearspending.org - Best Programs</title> {% endblock %}
{% block bodyclass %}bestprograms{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
	<div id="pageMain">
		<div id="fullWidthColumn">

		<h3>Best-Reporting Programs</h3>

        <div id="filters">
            <h4>Revise results below</h4>
            <ul id="years">
                <li><a href="{% block year2 %}{% url list-best-programs 2008 %} {% endblock %}" {% ifequal "2008" fiscal_year %}class="active"{% endifequal %}>2008</a></li>
                <li><a href="{% block year3 %}{% url list-best-programs 2009 %} {% endblock %}" {% ifequal "2009" fiscal_year %}class="active"{% endifequal %}>2009</a></li>
                <li><a href="{% block year1 %} {% url list-best-programs 2010 %} {% endblock %}" {% ifequal "2010" fiscal_year %}class="active"{% endifequal %}>2010</a></li>
            </ul>

            {% block search %}
            <form id="program-search">
                <label for="search-text">Search Programs</label>
                <input class="search-text" type="text" name="search-text" />
                <input type="submit" value="" class="submit" />
            </form>
            <div class="clear"></div>
            {% endblock %}

            <div class="clear"></div>
        </div>

		<div id="agencytablecontainer">
			<table id="programtable">
				<thead>
					<tr>
						<th class="sort sm">Program Number</th>
						<th class="sort lg">Program Name</th>
						<th class="sort med">Over Reported</th>
						<th class="sort med">Under Reported</th>
						<th class="sort med">Incomplete</th>
						<th class="sort med">Late</th>
						<th class="sort lg">Obligation</th>
					</tr>
				</thead>
				<tbody>
					{% for pgm in program_details %}
					<tr class="{% cycle 'odd' 'even'  %}">
						<td class="sm"><a href="{% url program_detail pgm.0 'dollars' %}">{{ pgm.1 }}</a></td>
						<td class="lg"><a href="{% url program_detail pgm.0 'dollars' %}">{{ pgm.2 }}</a></td>
						<td class="med">{% if pgm.3 %}{{ pgm.3 }}{% else %}-{% endif %}</td>
						<td class="med">{% if pgm.4 %}{{ pgm.4 }}{% else %}-{% endif %}</td>
						<td class="med">{% if pgm.5 %}{{ pgm.5 }}{% else %}-{% endif %}</td>
						<td class="med">{% if pgm.6 %}{{ pgm.6 }}{% else %}-{% endif %}</td>
						<td class="lg">{{ pgm.7 }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="clear"></div>

		</div>
	</div>

    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#programtable").tablesorter({
                headers: {
                            1: { sorter:'currency'},
                            2: { sorter:'currency'},
                            3: { sorter:'currency'},
                            4: { sorter:'currency'},
                            5: { sorter:'currency'},
                            6: { sorter:'currency'},
                            7: { sorter:'currency'}
                        }
            });
            $("#programtable").bind("sortEnd", function() {
                $("#programtable tr:even").removeClass().addClass("even")
                $("#programtable tr:odd").removeClass().addClass("odd");
			});

            $("#program-search").submit(function() {
                var search_text = $(this).find('input[name="search-text"]').val()
                if (search_text) {
				    document.location = '{{ SUB_SITE }}/search/'+ search_text + '/dollars/{{fiscal_year}}/';
                }
                return false;
            });
        });
	</script>
{% endblock %}
