{% extends "base.html" %}
{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}scripts/d3.v2.js"></script>
    <script src="{{ STATIC_URL }}scripts/programs.js"></script>
    <script src="{{ STATIC_URL }}scripts/charts.js"></script>
    <style type="text/css">
        #chart-con {
            position: relative;
            width: 840px;
            margin: 0 auto;
        }
        #status-con {
            position: relative;
            font-size: 12px;
            margin: 0;
            width: 840px;
            height: 3em;
            background: none #6C6764;
            background: none rgb(206, 209, 210);
        }
        #status {
            font-weight: bold;
            color: black;
        }
        #hovered-details, #selected-details {
            float: left;
            width: 50%;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            visibility: hidden;
            font-weight: bold;
            border: 1px solid blue;
            border-radius: 5px;
        }
        #legend {
            position: relative;
            display: block;
            vertical-align: top;
            float: right;
            background: none rgb(255, 255, 255);
            border-radius: 7px;
            -moz-border-radius: 7px;
            border-color: black;
            border-width: 1px;
            border-style: solid;
            padding: 1em;
            margin: 0 1em 1em 1em;
        }
        span.swatch {
            display: inline-block;
            width: 1em;
            height: 1em;
            overflow: hidden;
        }
        .pass {
            background: none rgb(0, 200, 0);
        }
        .fail {
            background: none rgb(240, 59, 32);
            opacity: 0.5 * attr(data-fail-pct) + 0.5;
        }
        #chart > svg {
            height: 100%;
        }
        svg rect.pass {
            cursor: pointer;
            fill: rgb(0, 200, 0);
            stroke: #10622E;
        }
        svg rect.fail {
            cursor: pointer;
            fill: rgb(240, 59, 32);
            stroke: #F03B20;
        }
        div#chart-buttons {
            float: right;
        }
        span.fiscal_year_chooser {
            text-align: right;
            color: #68A31D;
            margin: 0 0.5em;
            cursor: pointer;
        }
        span.fiscal_year_chooser:hover {
        }
        span.fiscal_year_chooser.selected {
            color: #68A31D;
            font-weight: bold;
        }
        span.title {
            display: inline;
            float: left;
            font-weight: bold;
            font-size: 14px;
        }

        svg#timeliness-art {
            fill: transparent;
        }

        svg text.agency-name {
            fill: black;
        }

        rect.column {
            stroke-width: 0;
            stroke-linejoin: round;
        }

        rect.column-bg, rect.bar-bg {
            fill: transparent;
        }
        rect.column-bg.selected, rect.bar-bg.selected {
            fill: rgb(166, 169, 170);
            fill: rgb(206, 209, 210);
        }
        rect.column-bg.hovered, rect.bar-bg.hovered {
            fill: rgb(206, 209, 210);
        }
    </style>
{% endblock %}
{% block bodyclass %}completeness{% endblock bodyclass %}
{% block content %}
<div id="pageMain">
    <h3>Completeness</h3>

    <p>
    </p>

    <div id="chart-con">
        <span class="title">Completeness of Federal Direct Assistance Reporting</span>
        <div id="chart-buttons">
            {% for fy in FISCAL_YEARS %}
            <span class="fiscal_year_chooser">{{ fy }}</span>
            {% endfor %}
        </div>

        <div class="clear"></div>

        <div id="chart">
        </div>

        <div class="clear"></div>
        <div id="status-con">
            <div id="status">
                <!-- Move your cursor over the diagram for details on each federal spending program.-->
            </div>
            <div id="hovered-details">
            Hovered
            </div>
            <div id="selected-details">
            Selected
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>

    <div id="legend">
        <span id="legend-title">Legend</span> <br>
        <span class="swatch fail" id="bad-swatch">&nbsp;</span> Failing columns 
        <span class="swatch pass" id="ok-swatch">&nbsp;</span> Passing columns
    </div>
</div>

</div>
{% endblock %}



