{% extends "base.html" %}
{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}scripts/d3.v2.js"></script>
    <script src="{{ STATIC_URL }}scripts/charts.js"></script>
    <style type="text/css">
        #chart-con {
            position: relative;
            width: 840px;
            margin: 0 auto;
        }
        #status-con {
            position: relative;
            margin: 6px 0 20px 0;
            border-top: 1px solid #E9E8E8;
            background: #F3F7F3;
            padding: 10px;
			box-sizing: border-box;
			min-height: 245px;
        }
        #status {
            font-weight: bold;
            color: black;
        }
        #hovered-details, #selected-details {
            float: left;
            width: 405px;
            box-sizing: border-box;
            margin: 0;
            padding: 10px;
            visibility: hidden;
        }
        #selected-details{
        	margin-right: 5px;
        }
        #hovered-details{
        	margin-left: 5px;
        }
        #cell-details-tmpl {
            display: none;
        }
        #status-con dt{
        	float: left;
        	font-weight: bold;
        	padding-right: 10px;
        }
        #legend {
            display: block;
            background: none rgb(255, 255, 255);
            border: 2px dotted #E9E8E8;
            padding: 1em;
            margin-bottom: 10px;

        }
        #pageMain #legend ul li{
        	list-style-type: none;
      		margin: 0;
      		display: inline;
        }
        span.swatch {
            display: inline-block;
            width: 1em;
            height: 1em;
            overflow: hidden;
        }

        .pass {
            border: 2px solid rgb(131,169,63);
        }
        span.swatch.pass{
        	background: rgb(131,169,63);
        }
        .fail {
            border: 2px solid rgb(235,71,36);
            opacity: 0.5 * attr(data-fail-pct) + 0.5;
        }
        span.swatch.fail{
        	background: none rgb(235,71,36);	
        }
        #chart > svg {
            height: 100%;
        }
        svg rect.pass {
            cursor: pointer;
            fill: rgb(131,169,63);
            stroke: #10622E;
        }
        svg rect.fail {
            cursor: pointer;
            fill: rgb(235,71,36);
            stroke: #F03B20;
        }
        div#chart-buttons {
            float: right;
        }
        span.fiscal_year_chooser {
            text-align: right;
            color: #68A31D;
            margin: 0 0.5em;
            cursor: pointer;
        }
        span.fiscal_year_chooser:hover {
        }
        span.fiscal_year_chooser.selected {
            color: #68A31D;
            font-weight: bold;
        }
        span.title {
            display: inline;
            float: left;
            font-weight: bold;
            font-size: 14px;
        }

        svg#timeliness-art {
            fill: transparent;
        }

        svg text.agency-name {
            fill: #6C6764;
        }
        .agency-name  {
        	font-family: "Helvetica Neue", Helvetica, sans-serif;
        	color: #6C6764;
        }

        rect.column {
            stroke-width: 0;
            stroke-linejoin: round;
        }

        rect.column-bg, rect.bar-bg {
            fill: transparent;
        }
        rect.column-bg.selected, rect.bar-bg.selected {
            fill: rgb(166, 169, 170);
            fill: rgb(206, 209, 210);
        }
        rect.column-bg.hovered, rect.bar-bg.hovered {
            fill: rgb(206, 209, 210);
        }
    </style>
{% endblock %}
{% block bodyclass %}completeness{% endblock bodyclass %}
{% block content %}
<div id="pageMain">
    <h3>Completeness</h3>
    <p>
    When the government publishes spending data, certain data fields are mandatory. These requirements are spelled out in the <a href="http://usaspending.gov/sites/all/themes/usaspendingv2/Archives_Data_Feeds_Data_Dictionary.pdf">USASpending.gov data dictionary</a>. This required information generally refers to details of the agency obligating the money or the recipient's identity and location. Since our last report, the number of obligations with completeness errors has gone down quite a bit, falling from a high of 66% of all measured obligations in 2010 to 26% in 2011. 

        <table class="results-table">
            <thead>
                <tr><th>Fiscal Year</th><th>Spending Failing on Completeness</th><th>Total Spending</th><th>% Failed</th></tr>
            </thead>
            <tbody>
                <tr><td>2009</td><td>$949,832,896,527</td><td>$1,625,257,115,439</td><td>58.4%</td></tr>
                <tr class="even"><td>2010</td><td>$954,316,971,593</td><td>$1,437,032,472,474</td><td>66.4%</td></tr>
                <tr><td>2011</td><td>$428,362,322,077</td><td>$1,639,826,026,452</td><td>26.1%</td></tr>
            </tbody>
        </table>
</p>
    <p>As you can see from the chart below, some fields (and agencies) are more problematic than others. In most cases, there are few problems with the obligated amount, obligation date, recipient name, or agency code. Many of the problems are centered around geographic information regarding the recipient, such as recipient county, city, and congressional district, as well as the place of performance field (generally where the money ends up, even if the grantee is in another location). Each column in the diagram represents a field in the data released by USASpending.gov. You can move your cursor over each cell for more details.
    </p>

    <div id="chart-con">
        <h4 class="title">Completeness of Federal Direct Assistance Reporting By Required Field and Agency</h4>
        <span class="tip">Move your cursor over the diagram for details on each federal spending program.</span>
        <ul id="chart-buttons">
            {% for fy in FISCAL_YEARS %}
            <li class="fiscal_year_chooser">{{ fy }}</li>
            {% endfor %}
        </ul>

        <div class="clear"></div>

        <div id="chart">
        </div>

        <div class="clear"></div>

        <div id="status-con">
            <div id="legend">
				<ul>
                	<li><span class="swatch fail" id="bad-swatch">&nbsp;</span> Failing fields</li>
                	<li><span class="swatch pass" id="ok-swatch">&nbsp;</span> Passing fields</li>
				</ul>
			</div>
            <div id="selected-details">
            Selected
            </div>
            <div id="hovered-details">
            Hovered
            </div>
            <div class="clear"></div>
            <div id="cell-details-tmpl">
            	<dl>
                    <dt>Agency: </dt>
                    <dd>__agency__</dd>

                    <dt>Field: </dt>
                    <dd>__column__</dd>

                    <dt>Dollars misreported: </dt>
                    <dd>__val__ (__pct__%)</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}



