{% extends "base.html" %}
{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}scripts/d3.v2.js"></script>
    <script src="{{ STATIC_URL }}scripts/programs.js"></script>
    <script src="{{ STATIC_URL }}scripts/charts.js"></script>
    <style type="text/css">
        .clear {
            clear: both;
        }
        .cell {
            border: solid 1px white;
            font: 8.9px sans-serif;
            line-height: 10px;
            overflow: hidden;
            position: absolute;
            text-indent: 2px;
        }
        .cell.unknown {
        }
        #chart-con {
            width: 840px;
            height: 500px;
            margin: auto auto;
        }
        #status, #program-description {
            width: 840px;
            height: 3em;
            margin: auto auto;
            font-weight: bold;
        }
        #program-description {
            display: none;
        }
        #legend {
            display: block;
            vertical-align: top;
            float: right;
            background: none rgb(255, 255, 255);
            border-radius: 7px;
            -moz-border-radius: 7px;
            border-color: black;
            border-width: 1px;
            border-style: solid;
            padding: 1em;
            margin: 0 1em 1em 1em;
        }
        span.swatch {
            display: inline-block;
            width: 1em;
            height: 1em;
            overflow: hidden;
        }
        .fail {
            background: none rgb(240, 59, 32);
        }
        .pass {
            background: none rgb(255, 237, 160);
            background: none #faca2c;
        }
        .blind {
            background: none rgb(0, 0, 0);
        }
    </style>
{% endblock %}
{% block content %}
<div id="pageMain">

    <p>
    The federal government reports a portion of it's spending in two ways. The Catalog of Federal Domestic Assistance (CFDA) reports estimates for each federal spending program for the current fiscal year and actual expenditures for two previous years. USASpending.gov provides an interface to the Federal Assistance Award Data System (FAADS). If agencies are properly reporting their spending to the FAADS system, the aggregate spending reported for each program should be consistent with the CFDA data. Unfotunately it's not.
    </p>

    <div id="chart-con">
        <div id="chart">
        </div>
    </div>

    <div id="status">
        Move your cursor over the diagram for details on each federal spending program.
    </div>
    <div id="program-description">
    </div>

    <div id="legend">
        <span id="legend-title">Legend</span> <br>
        <span class="swatch blind" id="blind-swatch">&nbsp;</span> Non-reporting programs <br>
        <span class="swatch fail" id="bad-swatch">&nbsp;</span> Failing programs <br>
        <span class="swatch pass" id="ok-swatch">&nbsp;</span> Passing programs <br>
    </div>

    <p>
    In the diagram you can see a rectangle for each spending program, sized relative to the amount of spending it represents. The black area represents programs that completely fail to report their spending to the FAADS. The yellow area represents programs for which the deviation between the CFDA and the FAADS is less than 50%, while programs with more than a 50% deviation represented by red.
    </p>

</div>
{% endblock %}

