{% extends "base.html" %}
{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}scripts/d3.v2.js"></script>
    <script src="{{ STATIC_URL }}scripts/charts.js"></script>
    <style type="text/css">
        .cell {
            position: absolute;
            border: solid 1px white;
            font: 8.9px sans-serif;
            line-height: 10px;
            overflow: hidden;
            position: absolute;
            text-indent: 2px;
        }
        .cell:hover{
        	opacity: 0.8;
        	filter:alpha(opacity=80); /* For IE8 and earlier */
        }
        .cell.unknown {
        }
        .cell.category {
            display: none;
        }
        div.chart-loading {
            position: absolute;
            width: 100%;
            top: 50%;
            height: 48px;
            margin-top: -24px;
            font-weight: bold;
            color: #6C6764;
            font-size: 24px;
            vertical-align: middle;
            text-align: center;
        }
        div.chart-loading div {
            display: inline-block;
            margin: 0 auto;
        }
        #chart-con {
            position: relative;
            width: 890px;
        }
        #status-con {
            position: relative;
            margin: 6px 0 20px 0;
            border-top: 1px solid #E9E8E8;
            background: #F3F7F3;
            padding: 10px;
			box-sizing: border-box;
        }
        #status-con p{
        	width: 600px;
        	margin-bottom: 0;
        }
        #status, #program-description {
            font-weight: bold;
            width: 600px;
            height: 50px;
            margin-bottom: 10px;
        }
        #program-description {
            display: none;
        }
        #legend {
            display: block;
            float: right;
            background: none rgb(255, 255, 255);
            border: 2px dotted #E9E8E8;
            padding: 1em;
			position: absolute;
			top: 10px;
			right: 10px;
        }
        #pageMain #legend ul li{
        	list-style-type: none;
      		margin: 0;
        }
        span.swatch {
            display: inline-block;
            width: 1em;
            height: 1em;
            overflow: hidden;
        }
        .perfect {
            background: none #a8c378;
        }
        .fail {
            background: none #f26f53;
        }
        .pass {
            background: none rgb(255, 237, 160);
            background: none #f0df51;
        }
        .blind {
            background: none transparent;
        }
        .bg-shell.perfect {
            background: none transparent;
        }
        .bg-shell.fail {
            background: none transparent;
        }
        .bg-shell.pass {
            background: none rgb(235, 71, 36);
        }
        .cell.blind, span.swatch.blind {
        	background-color: rgb(235, 71, 36);
            background: url(../static/images/nonreportingbg.png) repeat center center;
        }
        .blind {
            background: none transparent;
        }
        .bg-shell.perfect {
            background: none transparent;
        }
        .bg-shell.fail {
            background: none transparent;
        }
        .bg-shell.pass {
            background: none transparent;
        }

        span.title {
            display: inline;
            float: left;
            font-weight: bold;
            font-size: 14px;
        }
    </style>
{% endblock %}
{% block bodyclass %}consistency{% endblock bodyclass %}
{% block content %}
<div id="pageMain">
<h3>Consistency Results</h3>
<p>While it would be ideal to measure the accuracy of the grants data in USASpending.gov, that is not possible on a large scale because of the opaqueness of the path from budget appropriations in the legislative branch to obligations in the executive branch. Essentially, agencies take prose descriptions of appropriations and divide them into Catalog of Federal Domestic Assistance (CFDA) programs. Because that process can vary by agency and isn't public, we can't know exactly what the amount in USASpending.gov should be. Because of this, we compare the yearly aggregates for each CFDA program in USASpending with the yearly estimates provided in the CFDA online catalog. Essentially, we are comparing two different sources of government reporting of financial obligations that should be within a reasonable range of each other. If there is greater than a 50% difference, then we mark it as failing.

        <h4 class="table-header">Failed Dollars, Consistency Metric Only, By Fiscal Year</h4>
        <table class="results-table">
            <thead>
                <tr><th>Fiscal Year</th><th>Inconsistent Dollars</th><th>Total Dollars</th><th>% Inconsistent</th></tr>
            </thead>
            <tbody>
                <tr><td>2009</td><td>$512,767,673,271</td><td>$1,625,257,115,439</td><td>31.6%</td></tr>
                <tr class="even"><td>2010</td><td>$884,298,014,824</td><td>$1,437,032,472,474</td><td>61.5%</td></tr>
                <tr><td>2011</td><td>$903,356,297,246</td><td>$1,408,066,026,452</td><td>64.2%</td></tr>
            </tbody>
        </table>

        <p> As illustrated in the table above, the amount failing due to inconsistency has increased over the past few years. This is largely due to several Medicare insurance programs that had been reporting data to USASpending.gov, but stopped reporting altogether in FY 2010. It's not clear why these programs stopped reporting, but the public database for the Department of Health and Human Services (<a href="http://taggs.hhs.gov">TAGGS</a>) also does not have this spending reported. Requests for comments from agency officials were not returned.</p>

<p> A troubling trend between 2009 and 2011 is the increasing amount of completely unreported obligations. It is sometimes expected for there to be a mismatch between the CFDA estimates and the USASpending.gov obligations. For example, In 2009 Unemployment Insurance was drastically underestimated by the CFDA, due to the deteriorating conditions of the economy later in the year which prompted an expansion of the program. However, when a program reports nothing at all to USASpending.gov, it's an indication that the reporting process has completely broken down. Moreover, there exists no oversight process for identifying these programs and fixing their reporting. The visualization below shows the overall size and scope of the total nonreporting dollars (in red stripes) over time. 
    <div id="chart-con">
        <h4 class="title withTip">Consistency of Federal Direct Assistance Reporting</h4>
        <span class="tip">Move your cursor over the diagram for details on each federal spending program.</span>
        <ul id="chart-buttons">
            {% for fy in FISCAL_YEARS %}
            <li class="fiscal_year_chooser">{{ fy }}</li>
            {% endfor %}
        </ul>

        <div class="clear"></div>

        <div id="chart">
        </div>

        <div class="clear"></div>
        <div id="status-con">
            <div id="status">
                Move your cursor over the diagram for details on each federal spending program.
            </div>
            <div id="program-description">
            </div>
                <p>
    In the diagram you can see a rectangle for each spending program, sized relative to the amount of spending it represents. The striped red area represents programs that completely fail to report their spending to USASpending. The yellow area represents programs for which the deviation between the CFDA and USASpending is less than 50%, while programs with more than a 50% deviation represented by red.
    </p>
            <div id="legend">
				<ul>
					<li><span class="swatch blind" id="blind-swatch">&nbsp;</span> Non-reporting programs</li>
					<li><span class="swatch fail" id="bad-swatch">&nbsp;</span> Failing programs</li>
					<li><span class="swatch pass" id="ok-swatch">&nbsp;</span> Passing programs</li>
					<li><span class="swatch perfect" id="perfect-swatch">&nbsp;</span> Best programs</li>
				</ul>
			</div>
			<div class="clear"></div>
        </div>
    </div>
        <div class="clear"></div>




</div>
{% endblock %}

