{% extends "base.html" %}
{% block title %} <title>Clearspending.org - Contact Us</title> {% endblock %}
{% block bodyclass %}feedback{% endblock %}
{% block content %}
{% load media %}
{% js "jquery.validate.min.js" %}
<div id="pageMain">
    <div id="ltColumn">
        <h3>Contact Us</h3>
        <p>Have a question or comment? Want to update your program's obligation in our data? Please send us a message using the form below.</p>

        <form class="normalForm" method="POST" id="contact-form" action="{% url contact-post %}">
            <ul>
                <li>
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" class="required" />
                </li>
                <li>
                    <label for="organization">Organization</label>
                    <input id="organization" name="organization" type="text" />
                </li>
                <li>
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" class="required email"/>
                </li>    
                <li>
                    <label for="message">Message</label>
                    <textarea id="message" name="message" class="required"></textarea>
                </li>    
                <li>
                    <button class="submit" type="submit">
                        <span>Submit</span>
                    </button>
                </li>
            </ul>   
        </form>
    </div>
    <div id="rtColumn">
        <div id="reporting">
            <h3>How does the federal govenment report its spending?</h3>
            <p>The flow of federal spending reporting can get complicated. We've tried to simplify it for you with a <a href="{% url animation %}">step-by-step visualization</a>.</p> 
        </div>
        <div id="metrics">
            <h3>Our Metrics</h3>
            <p class="no-border">How did we conduct our analysis and what assumptions did we make? What limitations exist with the comparison data we're using? We measured the data across three categories:</p>
            <ul>
                <li><strong>Consistency</strong>: A comparison of CFDA obligations and USASpending.gov obligations.</li>
                <li><strong>Completeness</strong>: A measure of how many required fields are compelted. </li>
                <li><strong>Timeliness</strong>: A measure of how quickly obligations were reported.</li>
            </ul>
           <p class="no-border">See our <a href="{% url methodology %}">methodology</a> for more information.</p>
        </div>
    </div> 
    <div class="clear"></div>
</div>
<script type="text/javascript" charset="utf-8" >
    $(document).ready(function(){
        $("#contact-form").validate();
    });
</script>

{% endblock %}
