{% extends "base.html" %}
{% block content %}
{% load media %}
{% js "jquery.validate.min.js" %}
<h3>Contact Us</h3>
<p>
Have a question or comment? Want to update your program's obligation in our data? Please send us a message using the form below.
</p>
<p>
<form id="contact-form" action="{% url contact-post %}">
<fieldset class="labels">
<label for="name">Name:</label>
<label for="organization">Organization:</label>
<label for="email">Email:</label>
<label for="message">Message:</label>
</fieldset>
<fieldset class="inputs">
<input name="name" type="text" class="required" />
<input name="organization" type="text" />
<input name="email" type="text" class="required email"/>
<textarea name="message" class="required"/></textarea>
<input class="submit" type="submit" value=" " />
</fieldset>
</form>
</p>
<div class="clear"></div>
<script type="text/javascript" charset="utf-8" >
    $(document).ready(function(){
        $("#contact-form").validate();
    });
</script>

{% endblock %}
