{% extends "base.html" %}
{% block title %} <title>Clearspending.org - Corrections</title> {% endblock %}
{% block bodyclass %}corrections{% endblock %}
{% load humanize %}
{% load media %}
{% block content %} 
<div id="pageMain">
    <div id="fullWidthColumn">
        <h3>Corrections to Our Analysis</h3>
        <p style="width:580px;">In our initial total of grant data ($1.9 trillion) we inadvertently included loan data. Note that this does not affect our finding of $1.3 trillion in 'broken' reports. We've removed loan data from all the top level, aggregate numbers because significant loan reporting errors skew the data (see our <a href="{% url methodology %}">methodology</a> for details). The total for grant obligations (as measured by the CFDA) is now $1,361,697,559,288. We have also adjusted our original total of failed grant obligations from $1,361,672,559,288 to $1,281,442,556,640 due to a programming error detected after the total grant obligation adjustment. This increases our resulting percentage of failed obligations for 2009 from 70% to 94%. Our resulting conclusions and analysis are unchanged. 
        </p>

        <h3>Corrections to Program Obligations</h3>
        <p id="shortedText">Clearspending uses the Catalog of Federal Domestic Assistance (CFDA) program obligations for its consistency check with USASpending data. The CFDA represents the best available comparison point for USASpending, but its data is not perfect. Since our primary goal was to measure the quality of data in USASpending, we have made corrections to CFDA data where appropriate. These corrections are listed here and are based on a combination of our own research and input from federal agencies. If you work with a federal agency or a specific program and would like to update your reported obligations, please <a href="{% url feedback %}">contact us</a>.</p>
        <table id="agencytable" class="generic-table">
            <thead>
            <tr>
                <th class="sort">Program</th>
                <th class="sort">Agency </th>
                <th class="sort">Fiscal Year</th>
                <th class="sort">Original Obligation</th>
                <th class="sort">Updated Obligation</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% for corr in object_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                <td class="td-name">{{ corr.program.program_title }}</td>
                <td class="td-name">{{ corr.program.agency.name}}</td>
                <td>{{ corr.program_obligation.fiscal_year}}</td>
                <td>${{ corr.old_obligation|floatformat|intcomma}}</td>
                <td>${{ corr.corrected_obligation|floatformat|intcomma}}</td>
                <td class="td-name last-cell">{{ corr.note}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            $("#agencytable").tablesorter({
                headers: {
                            4: { sorter:'currency'},
                            5: { sorter:'currency'}
                        }
            });
            $("#agencytable").bind("sortEnd", function() {
                $("#agencytable tr:even").removeClass().addClass("even")
                $("#agencytable tr:odd").removeClass().addClass("odd");
            });
        });
    </script>
{% endblock %}
