{% extends "base.html" %}
{% block title %} <title>Clearspending.org - The DATA Act</title> {% endblock %}
{% block bodyclass %}data-act{% endblock %}
{% block content %}
<div id="pageMain">
    <div id="ltColumn">
        <h3>The DATA Act</h3>
        <p>After our first two iterations of Clearspending, the House Oversight Committee convened <a href="http://www.youtube.com/watch?v=QOzyDYOtJRE">two</a> <a href="http://www.youtube.com/watch?v=OsrsyHzz6xQ&feature=player_embedded">hearings</a> on the subject of federal spending data quality. The second hearing included the introduction of the <a href="http://beta.congress.gov/bill/113th-congress/house-bill/2061">Digital Accountability and Transparency Act of 2013 (or DATA Act)</a>. The DATA act contains provisions for expanded federal spending reporting and data standardization, as well as validation against secondary sources. Furthermore, it contains a provision for Inspectors General to monitor the quality of federal spending data, assigns responsibility for data standardization to the Treasury Department, and expands the types of expenditures that should be included in USASpending.gov. </p>

<p> As our results demonstrate, the vast increase in programs that <em>do not report to USASpending.gov at all</em> is a troubling trend. The lack of oversight is resulting in lower and lower quality spending data and less transparency. Additionally, another source of federal spending data, the Consolidate Federal Funds Report, was defunded and discontinued this year. More and more, USASpending.gov is becoming the consolidated source for this data, yet there have been no steps taken to improve it's quality.
</p> 
<p>Currently, two different versions of the DATA Act exist in the House and the Senate. The House version has been passed, and the Senate version has been voted out of committee but has not yet passed. The two versions will also need to be reconciled before the DATA Act can become a law. You can read more about the DATA Act <a href="http://sunlightfoundation.com/blog/taxonomy/term/data-act/">here</a>.
</p> 

    </div>
    <div id="rtColumn">
        <div id="reporting">
            <h4>How does the federal government report its spending?</h4>
            <p>The flow of federal spending reporting can get complicated. We've tried to simplify it for you with a <a href="{% url animation %}">step-by-step visualization</a>.</p> 
        </div>
        <div id="metrics">
            <h4>Our Metrics</h4>
            <p class="no-border">How did we conduct our analysis and what assumptions did we make? What limitations exist with the comparison data we're using? We measured the data across three categories:</p>
            <ul>
                <li><strong>Consistency</strong>: A comparison of CFDA obligations and USASpending.gov obligations.</li>
                <li><strong>Completeness</strong>: A measure of how many required fields are completed. </li>
                <li><strong>Timeliness</strong>: A measure of how quickly obligations were reported.</li>
            </ul>
           <p class="no-border">See our <a href="{% url methodology %}">methodology</a> for more information.</p>
        </div>
    </div> 
    <div class="clear"></div>   
</div>

{% endblock %}
