{% extends "base.html" %}
{% block content %}
<div id="featureBox">
    <div id="ltColumn">
        <h3>Keeping Tabs on <span>USASpending.gov</span></h3>
        <p>We've taken data from other federal reporting systems and compared it with the data found in USASpending.gov across three categories: Consistency, Completeness and Timeliness. How close are the reported dollar amounts to the yearly estimates? How many of the required fields are filled out in each record? And how long did it take the agency to report the money once it was allocated to a project?</p>
    </div>
    <div class="clear"></div>
</div>
<div id="pageMain">
    <div class="module">
        <h3>Federal Waste by Metric</h3>
    </div>
    <div class="ltColumn">
        <div class="module">
            <h3>Types of Federal Spending</h3>
        </div>
        <div class="module">
            <h3>On-Time Spending Over Time</h3>
        </div>
    </div>
    <div class="rtColumn">
        <div class="module" id="scorecardPromo">
            <h4>See how Government Agencies Measure Up</h4>
            <a class="textReplace" href="#">View our Scorecard</a>
        </div>
        <div class="module">
            <h4>Download Previous Reports</h4>
            <ul>
                <li><a href="#">2010 Spending Report</a></li>
                <li><a href="#">2010 Spending Report</a></li>
                <li><a href="#">2010 Spending Report</a></li>
            </ul>    
        </div>
    </div>
</div>

</div>


{% endblock %}

