{% extends "base.html" %}
{% block content %}
{% load media %}
<div id="featureBox">
    <span id="featureNumber">$1,190,494,698,379.00</span>
    <span id="featureTitle">Broken Spending Reporting in 2010</span>
    <div id="featureBody">
        <h3>How Reliable is USASpending.gov?</h3>
        <p>We've taken data from other federal reporting systems and compared it with the data found in USASpending.gov across three categories: <strong>Consistency</strong>, <strong>Completeness</strong> and <strong>Timeliness</strong>. How close are the reported dollar amounts to the yearly estimates? How many of the required fields are filled out in each record? And how long did it take the agency to report the money once it was allocated to a project?</p>
        <a id="scorecardBtn" href="{% url scorecard-index %}">Check out our scorecard</a>
    </div>
</div>
<div id="pageMain">
    <div id="homeltColumn">
        <div id="reporting">
            <h3>How does the federal government report its spending?</h3>
            <p>The flow of federal spending reporting can get complicated. We've tried to simplify it for you with a <a href="{% url animation %}">step-by-step visualization</a>.</p> 
        </div>
        <div id="metrics">
            <h3>Our Metrics</h3>
            <p class="no-border">How did we conduct our analysis and what assumptions did we make? What limitations exist with the comparison data we're using? We measured the data across three categories:</p>
            <ul>
                <li><strong>Consistency</strong>: A comparison of CFDA obligations and USASpending.gov obligations.</li>
                <li><strong>Completeness</strong>: A measure of how many required fields are completed. </li>
                <li><strong>Timeliness</strong>: A measure of how quickly obligations were reported.</li>
            </ul>
           <p class="no-border">See our <a href="{% url methodology %}">methodology</a> for more information.</p>
        </div>
    </div>
    <div id="homertColumn">
        <div id="important">
            <h3>Why is federal spending reporting important?</h3>
            <p class="no-border">For an introduction on what federal reporting is and why it's important, watch our video.</p>
                <object width="480" height="270"><param name="movie" value="http://www.youtube.com/v/GSCZHBNrIGg&amp;hl=en_US&amp;fs=1"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><embed src="http://www.youtube.com/v/GSCZHBNrIGg&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="270"></object>
        </div>    
    </div>
    <div class="clear"></div>
</div>

    <span style="display:block; font-style:italic; padding:10px;">*We've adjusted this figure down from $1,361,672,559,288. For details please see our <a href="{% url corrections %}">corrections page</a></span>


{% endblock %}

