{% extends "base.html" %}
{% block scripts %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}scripts/d3.v2.js"></script>
    <script src="{{ STATIC_URL }}scripts/charts.js"></script>
{% endblock scripts %}
{% block content %}
<div id="featureBox">
    <div id="ltColumn">
        <h3>Keeping Tabs on <span>USASpending.gov</span></h3>
        <p>We've taken data from other federal reporting systems and compared it with just the <em>grants</em> data found in USASpending.gov across three categories: Consistency, Completeness and Timeliness. How close are the reported dollar amounts to the yearly estimates? How many of the required fields are filled out in each record? And how long did it take the agency to report the money once it was allocated to a project?</p>
    </div>
    <div class="clear"></div>
</div>
<div id="pageMain">
    <div class="ltColumn">
        <div class="module">
            <h3>Failed Spending by Metric</h3>
            <p>
            How much spending fails more than one metric? This graphic depicts the overlap between metrics for the misreported spending. Overall, most spending only fails one metric, not multiple metrics.  
            </p>
            <!--[if lte IE 8]>
            <img src="{{ STATIC_URL }}images/metricvenn.png">
            <![endif]-->

            <!--[if IE 9]>
            <iframe border="0"
                    width="500"
                    height="324"
                    style="border-width: 0; overflow: hidden;"
                    src="{{ STATIC_URL }}images/metricvenn.svg"></iframe>
            <![endif]-->

            <!--[if !IE]> -->
            <iframe border="0"
                    width="500"
                    height="324"
                    style="border-width: 0; overflow: hidden;"
                    src="{{ STATIC_URL }}images/metricvenn.svg"></iframe>
            <!--[if !IE]>
            <![endif]-->
        </div>

        <div class="module">
            <h3>Federal Spending We Measured</h3>
            <p>USASpending.gov doesn't include all government spending, and of the spending it does include, we only have comparison data for the grants and direct payments data. Below is a breakdown of federal spending and what portion of it Clearspending addresses. </p>
            <img src="{{STATIC_URL }}images/spendingpie.png" />
        </div>
    </div>
    <div class="rtColumn">
        <div class="module" id="scorecardPromo">
            <h4>See how Government Agencies Measure Up</h4>
            <a class="textReplace" href="/clearspending/scorecard">View our Scorecard</a>
        </div>
        <div class="module">
            <h4>Download Previous Reports</h4>
            <ul>
                <li><a href="http://2011.clearspending.com/">2011 Clearspending Report</a></li>
                <li><a href="http://2010.clearspending.com/">2010 Clearspending Report</a></li>
            </ul>    
        </div>
    </div>
</div>
{% endblock %}

