{% extends "base.html" %}
{% block title %} <title>Clearspending.org - Media</title> {% endblock %}
{% block bodyclass %}media{% endblock %}
{% block content %}
{% load media %}

<div id="pageMain">
    <div id="ltColumn">
        <h3>Media</h3>
        <p>For press inquiries, please contact Liz Bartolomeo at lbartolomeo@sunlightfoundation.com.</p>

        <h4>Press Releases</h4>
        <p><a href="http://sunlightfoundation.com/press/releases/2010/09/08/new-analysis-sunlight-identifies-13-trillion-broke/">Sunlight Identifies Nearly $1.3 trillion in Broken Spending</a></p>
        <h4>Media Coverage</h4>
        <ul>
            <li>9/7/10 - <a href="http://www.fastcompany.com/1687410/watchdog-discovers-usaspendinggov-missing-13-trillion">Fast Company</a></li>
            <li>9/8/10 - <a href="http://www.good.is/post/the-government-does-provide-data-it-s-just-horribly-inaccurate">Good</a></li>
            <li>9/8/10 - <a href="http://www.federalnewsradio.com/index.php?nid=15&sid=2047357">Federal News Radio</a></li>
            <li>9/8/10 - <a href="http://fcw.com/articles/2010/09/08/usaspending.gov-numbers-off-by-1.3-trillion-watchdog-says.aspx">Federal Computer Week</a></li>
            <li>9/13/10 - <a href="http://www.thenewstribune.com/2010/09/13/1339094/obama-still-has-work-to-do-on.html">Tacoma News Tribune editorial</a></li>
            <li>3/10/11 - <a href="http://voices.washingtonpost.com/federal-eye/2011/03/darrell_issa_probing_how_agenc.html">Washington Post</a></li>
            <li>3/11/11 - <a href="http://www.politico.com/news/stories/0311/51142.html">Politico</a></li>
            <li>4/8/11 - <a href="http://www.roanoke.com/editorials/wb/282606">Roanoke Times editorial</a></li>
        </ul>

        <h4>Testimony</h4>
        <ul>
            <li>3/11/11 - Ellen Miller's Testimony before the House Oversight and Government Reform Subcommittee on Technology (<a href="http://sunlightfoundation.com/policy/documents/testimony-ellen-miller-house-oversight/">Written Testimony</a> | <a href="http://www.youtube.com/watch?v=QOzyDYOtJRE">Video</a>)
                <iframe width="480" height="270" style="margin-top:15px;" src="http://www.youtube.com/embed/QOzyDYOtJRE" frameborder="0" allowfullscreen></iframe>
            </li>
            <li>6/14/11 - Ellen Miller's Testimony before the House Oversight and Government Reform Committee (<a href="http://sunlightfoundation.com/policy/documents/testimony-ellen-miller-house-oversight-and-governm/">Written Testimony</a> | <a href="http://www.youtube.com/watch?v=OsrsyHzz6xQ&feature=player_embedded">Video</a>)
                <iframe width="480" height="270" style="margin-top:15px;" src="http://www.youtube.com/embed/OsrsyHzz6xQ" frameborder="0" allowfullscreen></iframe>
            </li>
        



        <h4 class="media-sub-header">Clearspending Debut at Gov 2.0 Summit</h4>
        <object width="480" height="270"><param name="movie" value="http://www.youtube.com/v/JJ9RdhAK5gU?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/JJ9RdhAK5gU?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="270"></embed></object>
        
        <h4 class="media-sub-header">Clearspending Introduction</h4>
        <object width="480" height="270"><param name="movie" value="http://www.youtube.com/v/GSCZHBNrIGg&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/GSCZHBNrIGg&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="270"></embed></object>

    </div>
    <div id="rtColumn">
        <div id="reporting">
            <h4>How does the federal government report its spending?</h4>
            <p>The flow of federal spending reporting can get complicated. We've tried to simplify it for you with a <a href="{% url animation %}">step-by-step visualization</a>.</p> 
        </div>
        <div id="metrics">
            <h4>Our Metrics</h4>
            <p class="no-border">How did we conduct our analysis and what assumptions did we make? What limitations exist with the comparison data we're using? We measured the data across three categories:</p>
            <ul>
                <li><strong>Consistency</strong>: A comparison of CFDA obligations and USASpending.gov obligations.</li>
                <li><strong>Completeness</strong>: A measure of how many required fields are completed. </li>
                <li><strong>Timeliness</strong>: A measure of how quickly obligations were reported.</li>
            </ul>
           <p class="no-border">See our <a href="{% url methodology %}">methodology</a> for more information.</p>
        </div>
    </div> 
    <div class="clear"></div>
</div>



{% endblock %}
