{% extends "base.html" %}
{% block content %}
{% load media %}

<div id="pageMain">
    <div id="ltColumn">
        <h3>Media</h3>
        <p>For press inquiries, please contact Liz Bartolomeo at lbartolomero@sunlightfoundation.com.</p>

        <h4>Clearspending Introduction</h4>
        <object width="480" height="270"><param name="movie" value="http://www.youtube.com/v/GSCZHBNrIGg&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/GSCZHBNrIGg&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="270"></embed></object>

        <h4 class="media-sub-header">Clearspending Debut at Gov 2.0 Summit</h4>
    </div>
</div>



{% endblock %}
