{% extends "base.html" %}
{% block bodyclass %}media{% endblock %}
{% block content %}
{% load media %}

<div id="pageMain">
    <div id="ltColumn">
        <h3>Media</h3>
        <p>For press inquiries, please contact Liz Bartolomeo at lbartolomeo@sunlightfoundation.com.</p>

        <h4>Clearspending Introduction</h4>
        <object width="480" height="270"><param name="movie" value="http://www.youtube.com/v/GSCZHBNrIGg&amp;hl=en_US&amp;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/GSCZHBNrIGg&amp;hl=en_US&amp;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="270"></embed></object>

        <h4 class="media-sub-header">Clearspending Debut at Gov 2.0 Summit</h4>
    </div>
    <div id="rtColumn">
        <div id="reporting">
            <h3>How does the federal government report its spending?</h3>
            <p>The flow of federal spending reporting can get complicated. We've tried to simplify it for you with a <a href="{% url animation %}">step-by-step visualization</a>.</p> 
        </div>
        <div id="metrics">
            <h3>Our Metrics</h3>
            <p class="no-border">How did we conduct our analysis and what assumptions did we make? What limitations exist with the comparison data we're using? We measured the data across three categories:</p>
            <ul>
                <li><strong>Consistency</strong>: A comparison of CFDA obligations and USASpending.gov obligations.</li>
                <li><strong>Completeness</strong>: A measure of how many required fields are completed. </li>
                <li><strong>Timeliness</strong>: A measure of how quickly obligations were reported.</li>
            </ul>
           <p class="no-border">See our <a href="{% url methodology %}">methodology</a> for more information.</p>
        </div>
    </div> 
    <div class="clear"></div>
</div>



{% endblock %}
