{% extends "scorecard_base.html" %}
{% block bodyclass %}scorecard{% endblock %}
{% block header %}
<div id="pageMain">
    <div id="fullColumn">
        <h3>Program Detail</h3>
{% endblock %}
{%block scorecard %}

        <div id="agency">
            <div id="title">
                <h4>{{agency_name}}-{{program_number}} {{title}}</h4>
                <p id="programdescription">{{desc|safe}}</p>
            </div>
            {% block search %}{% endblock %}
            <div class="program-total-value">
                <strong>Total Program Obligations:</strong>
                <span>(all fiscal years)</span>
                {{program_total }}*
            </div>
            <div class="clear"></div>
        </div>

        <ul class="ratingtable program-detail">
            {{consistency|safe}}
            {{timeliness|safe}}
            {{completeness|safe}}
        </ul>

        <cite>*Total program obligations reported in the Catalog of Federal Domestic Assistance </cite>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $("#dollars_radio").change(function(){
                $(document)[0].location = $(document)[0].location.href.replace('\/pct\/', '\/dollars\/');
            }); 
            $("#pct_radio").change(function(){
                $(document)[0].location = $(document)[0].location.href.replace('/dollars/', '/pct/');
            }); 

        })
</script>
{% endblock %}
