{% extends "base.html" %}
{% block title %} <title>Clearspending.org - Resources</title> {% endblock %}
{% block bodyclass %}resources{% endblock %}
{% block content %}
<div id="pageMain">
    <div id="ltColumn">
        <h3>Resources</h3>
        <p>Listed below are some resources that may be helpful.</p>
        <ul class="resources">
            <li><a href="http://usaspending.gov">USASpending.gov</a></li>
			<li>Spending data files can be downloaded from the <a href="http://usaspending.gov/customcode/data_archives_iframe.php?&&formFields=&&tab=Archives&fiscal_year=2011&carryfilters=off">USASpending.gov archives</a>. Subsets can be downloaded from <a href="http://transparencydata.com/">TransparencyData</a>.</li>
            <li><a href="http://github.com/sunlightlabs/clearspending">Clearspending Source Code at Github</a></li>
            <li><a href="http://thomas.loc.gov/cgi-bin/query/z?c109:S.2590.ENR:">The Federal Funding Accountability and Transparency Act of 2006</a></li>
            <li><a href="http://www.gao.gov/products/GAO-10-365">GAO report - Electronic Government: Implementation of the Federal Funding and Accountability Transparency Act of 2006"</a></li>
			<li>The <a href="http://www.cfda.gov">Catalog of Federal Domestic Assistance</a> is the source of the program obligations we use to measure USASpending.gov's consistency, though we make a few <a href="{% url corrections %}">manual corrections to the data.</a></li>
            <li><a href="https://www.fpds.gov/fpdsng_cms/">Federal Procurement Data System - Next Generation</a></li>
        </ul>
        <h4>Downloadable Data:</h4>
        <ul class="resources">
            <li><a href="{{ STATIC_URL }}/docs/agency_grants.csv">Consistency metrics by agency by fiscal year (grants)</a></li>
            <li><a href="{{ STATIC_URL }}/docs/agency_loans.csv">Consistency metrics by agency by fiscal year (loans)</a></li>
            <li><a href="{{ STATIC_URL }}/docs/program_grants.csv">Consistency metrics by program by fiscal year (grants)</a></li>
			<li><a href="{{ STATIC_URL }}/docs/program_loans.csv">Consistency metrics by program by fiscal year (loans)</a></li>
        </ul>
        <h4>Total Broken Reporting by Fiscal Year</h4>
        <p>Want to know how we arrived at our $1.3 trillion figure for broken reporting? It's determined on a program level. If any program misreports more than 50% of the total program value (according to the CFDA) or is nonreporting, we consider that program's reporting unreliable and classify it as "broken." This includes direct payments and grant programs, but not loan programs. Here is the data used to calculate the total in broken reporting for each fiscal year, including the failing metric.</p>

        <ul>
            <li><a href="{{ STATIC_URL }}/docs/failed_programs_grants_2009.csv">Failed Grant programs for FY 2009</a></li>
            <li><a href="{{ STATIC_URL }}/docs/failed_programs_grants_2010.csv">Failed Grant Programs for FY 2010</a></li>
            <li><a href="{{ STATIC_URL }}/docs/failed_programs_grants_2011.csv">Failed Grant Programs for FY 2011</a></li>
            <li><a href="{{ STATIC_URL }}/docs/failed_programs_loans_2009.csv">Failed Loan programs for FY 2009</a></li>
            <li><a href="{{ STATIC_URL }}/docs/failed_programs_loans_2010.csv">Failed Loan Programs for FY 2010</a></li>
            <li><a href="{{ STATIC_URL }}/docs/failed_programs_loans_2011.csv">Failed Loan Programs for FY 2011</a></li>
        </ul>


    </div>
    <div id="rtColumn">
        <div id="reporting">
            <h4>How does the federal government report its spending?</h4>
            <p>The flow of federal spending reporting can get complicated. We've tried to simplify it for you with a <a href="{% url animation %}">step-by-step visualization</a>.</p> 
        </div>
        <div id="metrics">
            <h4>Our Metrics</h4>
            <p class="no-border">How did we conduct our analysis and what assumptions did we make? What limitations exist with the comparison data we're using? We measured the data across three categories:</p>
            <ul>
                <li><strong>Consistency</strong>: A comparison of CFDA obligations and USASpending.gov obligations.</li>
                <li><strong>Completeness</strong>: A measure of how many required fields are completed. </li>
                <li><strong>Timeliness</strong>: A measure of how quickly obligations were reported.</li>
            </ul>
           <p class="no-border">See our <a href="{% url methodology %}">methodology</a> for more information.</p>
        </div>
    </div> 
    <div class="clear"></div>
</div>


{% endblock %}
