{% extends "scorecard_base.html" %}
{% load media %}
{% load humanize %}

{% block header %}
    {% js "jquery.tablesorter.min.js" %}
    <h3>Agencies</h3>
{% endblock %}

{% block scorecard %}
    <div id="agencytablecontainer">
        <table id="agencytable">
            <thead>
                <tr id="titles">
                    <th class="sort">Agency Name (# of Programs)</th>
                    <th class="sort">Over Reporting</th>
                    <th class="sort">Under Reporting</th>
                    <th class="sort">Non-Reporting</th>
                    <th class="sort">Late</th>
                    <th class="sort last-cell">Incomplete</th>
                </tr>
            </thead>
            <tbody>
            {% for row in table_data %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class="title"><a class="name" href="{% url agency_detail row.0 fiscal_year unit %}" alt="{{row.2}}">{{row.3}}<span title="number of programs in agency"> ({{row.1}}) </span></a></td>
                    <td class="{{row.5}}">
                        {% if row.4%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.4|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %} {% else %}-{% endif %}
                    </td>
                    <td class="{{row.7}}">
                        {% if row.6%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.6|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
                    </td>
                    <td class="{{row.9}}">
                        {% if row.8%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.8|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
                    </td>
                    <td class="{{row.11}}">
                        {% if row.10%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.10|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
                    </td>
                    <td class="last-cell {{row.13}}">
                        {% if row.12%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.12|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>        
    </div>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            
            $("#agencytable").tablesorter({
                headers: {
                            1: { sorter:'currency'},
                            2: { sorter:'currency'},
                            3: { sorter:'currency'},
                            4: { sorter:'currency'},
                            5: { sorter:'currency'}
                        }
            });
            $("#agencytable").bind("sortEnd", function() {
                $("#agencytable tr:even").removeClass().addClass("even")
                $("#agencytable tr:odd").removeClass().addClass("odd");
            });
            $("#dollars_radio").change(function(){
                $(document)[0].location = "{% url scorecard-index %}dollars/{{ fiscal_year }}/"
            }); 
            $("#pct_radio").change(function(){
                $(document)[0].location = "{% url scorecard-index %}pct/{{ fiscal_year }}/";
            }); 
        });
    </script>   
{% endblock %}

