{% extends "scorecard_base.html" %}
{% block bodyclass %}scorecard{% endblock %}
{% load media %}
{% load humanize %}
{% load smarterif %}
{% block header %}
{% js "jquery.tablesorter.min.js" %}
{% js "jquery-ui-1.8.4.custom.min.js" %}
{% js "jquery.cookie.js" %}
<div id="pageMain">
    <div id="fullColumn">
        <h3>Agencies</h3>
{% endblock %}

{% block scorecard %}
    <div id="scorecard-intro">
        <h3>How to Use the Clearspending Scorecard</h3>
        <ul>
            <li>
                <span>Choose your fiscal year:</span>
                <img src="{% media_url %}/images/chooseyear.png" />
            </li>
            <li>
                <span>Choose display unit:</span>
                <img src="{% media_url %}/images/chooseunit.png" />
            </li>     
            <li>
                <span>Sort by the metric values:</span>
                <ul>    
                    <li><strong>Over Reporting: </strong>The amount reported in USASpending.gov that is not reported in the CFDA</li>
                    <li><strong>Under Reporting:</strong>The amount reported in the CFDA that is not reported in USASpending.gov</li>
                    <li><strong>Non-Reporting:</strong>The total value of all programs that are completely missing from USASpending.gov</li>
                    <li><strong>Late:</strong> The total oblgiations that were reported late</li>
                    <li><strong>Incomplete:</strong> The total obligations that were reported incompletely</li>
                </ul>
            </li>
            <li>
                <button class="okBtn close" type="submit">
				    <span>Ok</span>
				</button>
            </li>
            <li>
                <button class="okBtn do-not-show" type="submit">
				    <span>Don't show this again</span>
				</button>
            </li>        
        </ul>    
    </div>

    {% block agency-key %}
        {{ block.super }}   
    {% endblock %}

    <div id="agencytablecontainer">
        <table id="agencytable">
            <thead>
                <tr id="titles">
                    <th class="sort">Agency Name (# of Programs)</th>
                    <th class="sort">Over Reporting</th>
                    <th class="sort">Under Reporting</th>
                    <th class="sort">Non-Reporting</th>
                    <th class="sort">Late</th>
                    <th class="sort last-cell">Incomplete</th>
                </tr>
            </thead>
            <tbody>
            {% for row in table_data %}
                {% if not row.4 and not row.6 and not row.8 and not row.10 and not row.12 %}
                    
                {% else %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class="title"><a class="name" href="{% url agency_detail row.0 fiscal_year unit %}" alt="{{row.2}}">{{row.3}}<span title="number of programs in agency"> ({{row.1}}) </span></a></td>
                    <td class="{{row.5}}">
                        {% if row.4%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.4|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %} {% else %}-{% endif %}
                    </td>
                    <td class="{{row.7}}">
                        {% if row.6%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.6|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
                    </td>
                    <td class="{{row.9}}">
                        {% if row.8%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.8|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
                    </td>
                    <td class="{{row.11}}">
                        {% if row.10%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.10|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
                    </td>
                    <td class="last-cell {{row.13}}">
                        {% if row.12%}{% ifequal unit 'dollars' %}${% endifequal %}{{row.12|floatformat|intcomma}}{% ifequal unit 'pct' %}%{% endifequal %}{% else %}-{% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>        
    </div>
</div>
</div>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            
            $("#agencytable").tablesorter({
                headers: {
                            1: { sorter:'currency'},
                            2: { sorter:'currency'},
                            3: { sorter:'currency'},
                            4: { sorter:'currency'},
                            5: { sorter:'currency'}
                        }
            });
            $("#agencytable").bind("sortEnd", function() {
                $("#agencytable tr:even").removeClass().addClass("even")
                $("#agencytable tr:odd").removeClass().addClass("odd");
            });
            $("#dollars_radio").change(function(){
                $(document)[0].location = "{% url scorecard-index %}dollars/{{ fiscal_year }}/"
            }); 
            $("#pct_radio").change(function(){
                $(document)[0].location = "{% url scorecard-index %}pct/{{ fiscal_year }}/";
            });
            if ($.cookie('clearspending_scorecard') != "true"){
                $("#scorecard-intro").css( 'display', 'block')
                $("#scorecard-intro .close").click(function(){
                    $("#scorecard-intro").css('display', 'none')
                })
                $("#scorecard-intro .do-not-show").click(function(){
                    $("#scorecard-intro").css('display', 'none')
                    $.cookie('clearspending_scorecard', true, {expires: 10000}); 
                })
            }

                                                //buttons: {
                                                  //          "OK": function(){ $(this).dialog("close");}, 
                                                    //        "Don't show this again": function() { $.cookie('clearspending_scorecard', true, {expires: 10000});  $(this).dialog("close");}
                                                //}
        });
    </script>   
{% endblock %}

